@import "./variables.css";

/* https://materialdesignicons.com/ */
/* https://glyphter.com/ */

@font-face {
  font-family: "Glyphter";
  src: url("../../fonts/glyphter/Glyphter.eot");
  src: url("../../fonts/glyphter/Glyphter.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/glyphter/Glyphter.woff") format("woff"),
    url("../../fonts/glyphter/Glyphter.ttf") format("truetype"),
    url("../../fonts/glyphter/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: var(--text-color);
}

.wp-person a:focus .gravatar,
a:focus,
a:focus .media-icon img {
  box-shadow: none;
  outline: none;
}

/*==============================
INPUTS
==============================*/

input[type="checkbox"],
input[type="radio"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  font-size: 14px;
  border: 1px solid var(--input);
  transition: all 0.4s ease;
}

input[type="checkbox"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
  border-color: var(--input-focus);
  box-shadow: none;
  outline: none;
}

/*==============================
BUTTONS
==============================*/

/* ADD NEW */

.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  color: var(--btn-primary-bg-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--btn-primary-bg-color);
  background: var(--btn-secondary-bg-color);
  transition: var(--transition);
}

.wrap .add-new-h2:hover,
.wrap .page-title-action:hover,
.wrap .page-title-action:focus {
  color: var(--btn-secondary-bg-color);
  border-color: var(--btn-primary-bg-color);
  background: var(--btn-primary-bg-color);
  box-shadow: none;
}

/* PRIMARY */

.wp-core-ui .button-primary {
  border-radius: var(--border-radius);
  background: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-bg-color);
  transition: var(--transition);
}

.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary:hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary.active,
.wp-core-ui .button-primary.active:hover,
.wp-core-ui .button-primary.active:focus,
.wp-core-ui .button-primary:active {
  background: var(--btn-primary-bg-color-hover);
  border-color: var(--btn-primary-bg-color-hover);
  box-shadow: none;
}

/* SECONDARY */

.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: var(--btn-primary-bg-color);
  border-radius: var(--border-radius);
  background: var(--btn-secondary-bg-color);
  border-color: var(--btn-primary-bg-color);
  transition: var(--transition);
}

.wp-core-ui .button.hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:hover,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary.hover,
.wp-core-ui .button-secondary.focus,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button-secondary:focus,
.wp-core-ui .button-secondary.active,
.wp-core-ui .button-secondary.active:hover,
.wp-core-ui .button-secondary.active:focus,
.wp-core-ui .button-secondary:active {
  color: var(--btn-secondary-bg-color);
  background: var(--btn-primary-bg-color);
  border-color: var(--btn-primary-bg-color);
  box-shadow: none;
  outline: none;
}

/*==============================
SELECT
==============================*/

.wp-core-ui select {
  color: var(--text-color);
  border-color: var(--select-border-color);
}

.wp-core-ui select:hover,
.wp-core-ui select:focus {
  border-color: var(--select-border-color-hover);
  box-shadow: none;
}

/*==============================
NOTICE
==============================*/

.notice,
div.error,
div.updated {
  border-radius: var(--border-radius);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left-width: 4px;
  box-shadow: none;
}

.notice-warning {
  border-left-color: var(--notice-warning-color);
}

/*==============================
TABLE
==============================*/

#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.imgedit-group,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags,
table.widefat {
  border-radius: var(--border-radius);
  border: none;
  box-shadow: none;
}

table.widefat thead td,
table.widefat thead th {
  border-bottom: 1px solid var(--table-border-color);
}

table.widefat tfoot td,
table.widefat tfoot th {
  border-top: 1px solid var(--table-border-color);
}

table th.sortable a,
table th.sorted a,
table.widefat td,
table.widefat th {
  padding: 12px 8px;
}

.plugin-update-tr.active td,
.plugins .active th.check-column {
  border-left: 4px solid var(--table-border-left-color);
}
