:root {
  /*==============================
  GENERAL
  ==============================*/
  --box-shadow: 0 0px 15px rgba(0, 0, 0, 0.08);
  --border-radius: 4px;
  --border-radius-medium: 6px;
  --transition: all 0.4s ease;

  /*==============================
  FONT SIZES
  ==============================*/
  /* BASE */
  --font-size: 14px;

  /*==============================
  COLORS
  ==============================*/
  /* BASE */
  --primary: #628ee5;
  --primary-darker: #5081e2;
  --success: #37c991;
  --success-darker: #35c08b;
  --warning: #ffb23e;
  --warning-darker: #ffad33;
  --danger: #ff6a79;
  --danger-darker: #ff5c6c;

  --text-color: #767779;

  /* MESSAGE */
  --message-bg-color: #fff;

  /* LOGIN */
  --login-bg-color: #fff;
  --login-form-bg-color: var(--login-bg-color);

  /* MENU */
  --menu-bg-color: #fff;
  --menu-icon-color: #acb6c1;
  --menu-icon-color-hover: var(--menu-icon-color-selected);
  --menu-icon-color-selected: var(--primary);
  --menu-item-color: #9097a7;
  --menu-item-color-hover: #3d464d;
  --menu-item-color-selected: var(--menu-item-color-hover);
  --menu-item-bg-color-hover: var(--menu-bg-color);
  --menu-item-bg-color-selected: var(--menu-bg-color);
  --submenu-item-color: var(--menu-item-color);
  --submenu-item-color-hover: var(--menu-item-color-hover);
  --submenu-item-color-selected: var(--menu-item-color-selected);
  --submenu-bg-color: #f8f9f9;
  --colapse-btn-color: var(--menu-item-color);
  --colapse-btn-color-hover: var(--menu-item-color-hover);

  /* CONTENT */
  --content-bg-color: #ebeff2;

  /* INPUT */
  --input: #e8e8e8;
  --input-focus: var(--primary);

  /*==============================
  SIZES
  ==============================*/
  /* LOGIN */
  --login-form-width: 350px;

  /* MENU */
  --menu-width: 220px;
  --menu-folded-width: 50px;
}
